#files:
#  "/usr/local/share/pycurl-7.43.0.2.tar.gz" :
#    mode: "000644"
#    owner: root
#    group: root
#    source: https://pypi.python.org/packages/source/p/pycurl/pycurl-7.43.0.2.tar.gz

packages: 
  yum:
    #openssl-devel: [] 
    libcurl-devel: []
  #rpm:
  #  libcurl-openssl: https://www.rpmfind.net/linux/sourceforge/u/un/unitedrpms/28/x86_64/libcurl-openssl-7.43.0-3.fc28.x86_64.rpm

commands:
  01_upgrade_pip_for_venv:
    command: "source /opt/python/run/venv/bin/activate && /opt/python/run/venv/bin/pip install --upgrade pip"


container_commands:
  00collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_pycurl_install:
    # http://diegojancic.blogspot.com/2016/12/making-celery-4-work-in-django-110-and.html
    # run this before PIP installs requirements as it needs to be compiled with OpenSSL
    # the upgrade option is because it will run after PIP installs the requirements.txt file.
    # and it needs to be done with the virtual-env activated
  #  command: 'source /opt/python/run/venv/bin/activate && /opt/python/run/venv/bin/pip install /usr/local/share/pycurl-7.43.0.2.tar.gz --global-option="--with-nss" --upgrade'
    command: 'source /opt/python/run/venv/bin/activate && export PYCURL_SSL_LIBRARY=nss && export PYTHON_INSTALL_LAYOUT="" && /opt/python/run/venv/bin/pip install pycurl --upgrade'
    #command: 'source /opt/python/run/venv/bin/activate && /opt/python/run/venv/bin/pip uninstall -y pycurl'
  10_mkdir_for_celery_log_and_pid:
    command: "mkdir -p /var/log/celery/ /var/run/celery/"
  11_kill_celery_beats:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf stop celeryd-beat"
    #command: "ps auxww | grep 'celery beat' | awk '{print $2}' | sudo xargs kill -9 || true"
    ignoreErrors: true
  12_celery_setup_configure:
    #command: "cp .ebextensions/celery-setup.sh /opt/elasticbeanstalk/hooks/appdeploy/post/ && chmod 744 /opt/elasticbeanstalk/hooks/appdeploy/post/celery-setup.sh"
    command: "chmod 744 .ebextensions/celery-setup.sh"
    cwd: "/opt/python/ondeck/app"
  13_celery_setup_run:
    #command: "/opt/elasticbeanstalk/hooks/appdeploy/post/celery-setup.sh"
    command: "/opt/python/ondeck/app/.ebextensions/celery-setup.sh"
  14_update_celery_beat_for_leader:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf update celeryd-beat"
    leader_only: true
  15_restart_celery_beat_for_leader:
    command: "/usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf start celeryd-beat"
    leader_only: true
  #50movemanrayauthdata:
  #  command: "django-admin.py manray__move_auth_data"
  #  leader_only: true
  #51movemanrayuserprofile:
  #  command: "django-admin.py manray__move_user_profile"
  #  leader_only: true


option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: carrot/wsgi.py
  aws:elasticbeanstalk:application:environment:
    PYCURL_SSL_LIBRARY: nss
    DJANGO_SETTINGS_DEBUG: 0
    DJANGO_SETTINGS_MODULE: carrot.settings
    DJANGO_SETTINGS_DATABASES_DEFAULT_HOST: localhost
    DJANGO_SETTINGS_DATABASES_DEFAULT_PASSWORD: testtest
  aws:elasticbeanstalk:managedactions:
    ManagedActionsEnabled: true
    PreferredStartTime: "Thu:22:30"
  aws:elasticbeanstalk:managedactions:platformupdate:
    UpdateLevel: minor
    InstanceRefreshEnabled: true
  aws:autoscaling:asg:
    MaxSize: '2'
    MinSize: '2'
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
